<div class="col-sm-4">
  <div class="image-box team-member white-bg">
    <div class="overlay-container">
      <img src="https://www.petfinder.com/wp-content/uploads/2012/11/dog-how-to-select-your-new-best-friend-thinkstock99062463.jpg" alt="">
    </div>
    <div class="image-box-body">
      <h3 class="title text-center"><%= link_to pet.name, pet_path(pet) %></h3>
    </div>
  </div>
</div>
