<% if user_signed_in? %>

  <%= render current_user %>

<% else %>

  <!-- <iframe class="center-block" src="//giphy.com/embed/a3IWyhkEC0p32" width="480" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
  <!-- <p class="text-center"><a href="http://giphy.com/gifs/thank-you-cute-a3IWyhkEC0p32">via GIPHY</a></p> -->
  <!-- banner start -->
  <!-- ================ -->
  <div class="banner">


    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow white-bg">

      <!-- slider revolution start -->
      <!-- ================ -->
      <div class="slider-banner-container">
        <div class="slider-banner-3">
          <ul>
            <!-- slide 1 start -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 1">

            <!-- main image -->
            <img src="https://farm1.staticflickr.com/646/22615200151_429f68fe90_k.jpg" alt="slidebg1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

            <!-- Translucent background -->
            <div class="tp-caption dark-translucent-bg"
              data-x="center"
              data-y="bottom"
              data-speed="800"
              data-start="0"
              style="background-color:rgba(0,0,0,0.5);">
            </div>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption very_large_text sft tp-resizeme"
              data-x="center"
              data-y="70"
              data-speed="700"
              data-start="200"
              data-end="10000"
              data-endspeed="600">Walk Your Friends' Dogs
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption small_thin_white sfb text-center tp-resizeme"
              data-x="center"
              data-y="170"
              data-speed="700"
              data-start="400"
              data-end="10000"
              data-endspeed="600">Guten Dog is the crowdsourced dog walking alternative.
            </div>


            </li>
            <!-- slide 1 end -->

            <!-- slide 2 start -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 2">

            <!-- main image -->
            <img src="https://farm8.staticflickr.com/7391/9412905630_3eddd66514_k.jpg"  alt="slidebg1" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

            <!-- Translucent background -->
            <div class="tp-caption dark-translucent-bg"
              data-x="center"
              data-y="bottom"
              data-speed="800"
              data-start="0"
              style="background-color:rgba(0,0,0,0.5);">
            </div>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption very_large_text sft tp-resizeme"
              data-x="center"
              data-y="70"
              data-speed="700"
              data-start="200"
              data-end="10000"
              data-endspeed="600">Community Dog Walkers
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption small_thin_white sfb text-center tp-resizeme"
              data-x="center"
              data-y="170"
              data-speed="700"
              data-start="400"
              data-end="10000"
              data-endspeed="600">Connect with your neighbors' dogs<br>
            </div>


            </li>
            <!-- slide 2 end -->

          </ul>
        </div>
      </div>
      <!-- slider revolution end -->

    </div>
    <!-- slideshow end -->

  </div>
  <!-- banner end -->

  <!-- page-title start -->
  <!-- ================ -->
  <h1 class="page-title text-center">Guten Dog</h1>

  <p class="lead text-center">Connecting dog owners with a community to help walk their pups!</p>
  <!-- page-title end -->

<% end %>
