$('#friend-index-' + <%= @new_friend.id %> + '-message').append('<div class="space"></div><p class="text-center"><em>You and <%= @new_friend.first_name %> are now friends!</em></p>')


$('#friend-index-'+<%= @new_friend.id %>).hide()
