<!-- footer start (Add "light" class to #footer in order to enable light footer) -->
<!-- ================ -->
<footer id="footer" class="light">

  <!-- .footer start -->
  <!-- ================ -->
  <div class="footer">
    <div class="container">
          <div class="footer-content">
            <div class="row">
              <div class="col-sm-12">
                <p>Contact Us</p>
              </div>
                <ul class="list-icons">
                  <li><i class="fa fa-map-marker pr-10"></i> 11 Broadway New York, New York 10004</li>
                  <li><i class="fa fa-envelope-o pr-10"></i> dogwatchfis@gmail.com</li>
                </ul>
            </div>
          </div>
        </div>
  </div>
  <!-- .footer end -->

</footer>
<!-- footer end -->
